htm{
    width:100%
}
body{
    width: 100%;
    text-align: center;
}

button{
    background-color: yellowgreen;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.lvlnum{
    color: #f9d230;
}